@font-face {
    font-family: 'fontawesome';
    src: url('./fonts/fontawesome-webfont.eot');
    src: url('./fonts/fontawesome-webfont.woff2') format('woff2'),
        url('./fonts/fontawesome-webfont.woff') format('woff'),
        url('./fonts/fontawesome-webfont.ttf') format('truetype'),
        url('./fonts/fontawesome-webfont.svg#fontawesome') format('svg');
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: 'fontawesome', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-custom {
    background-color: white;
}

.navbar .nav > li > a {
    text-decoration: none;
    color: darkslategray;
}

.skills-container {
    text-align: center;
    background-color: lightgray;
    box-shadow: 10px 10px 5px #888888;
}

#link {
    color: black;
}

#link:hover {
    font-weight: 400;
}

#jumbo {
    margin-top: 10%;
    color: white;
}

.parallax { 
    /* The image used */
    background-image: url("./images/braincode.gif");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.speech {
    font-size: 150%;
}

.jumbotronus {
    height: 100vh;
    text-align: center;

    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #dd00f3, purple, purple);
    background-size: 1800% 1800%;
    
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;}
    
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow { 
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
}