@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("./assets/css/font-awesome.min.css");

* {
    font-family: 'Source Sans Pro';
}

/* Icon */

.icon > .label {
	display: none;
}

.icon {
    float: right;
    text-decoration: none;
    margin: 2%;
    color: grey;
}

.icon:hover {
    color: black;
    transition: 0.8s;
}

.icon:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 1.25em;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fact-file {
    position: relative;
    margin-top: -3%;
    font-size: 150%;
}

.navbar-custom {
    background-color: white;
    opacity: 0.9;
}

.profile-pic {
	border-radius: 50%;
	width: 250px;
    height: 250px;
    margin-right: 1px;
}

.navbar .nav > li > a {
    text-decoration: none;
    color: darkslategray;
}

.skills-container {
    text-align: center;
    background-color: lightgray;
    box-shadow: 10px 10px 5px #888888;
}

#link {
    color: black; 
    font-size: 100%;
    transition: 0.5s;
}

#link:hover {
    font-size: 105%;
    transition: 0.5s;
}

.under-link {
    font-size: 100%;
    transition: 0.5s;
}

.under-link:hover {
    font-size: 105%;
    transition: 0.5s;
}

#jumbo {
    margin-top: 10%;
    color: white;
}

.parallax {

    background-image: url("./images/physics.png");

    /* Making height go to the bottom of the page */
    height: 100vh;

    /* Making the image static in relation the foreground creating parralex */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {

    background-image: url("./images/me-vr.jpg"); 

    /* Making height go to the bottom of the page */
    height: 100vh;

    /* Making the image static in relation the foreground creating parralex */
    background-attachment: fixed;
    background-position: center -100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.speech {
    font-size: 150%;
}

.CV {
    font-size: 100%;
    font-weight: bold;
    color: skyblue;
    transition: 0.5s;
}

.CV:hover {
    color: black;
    font-size: 150%;
    transition: 0.5s;
}

.jumbotronus {

    height: 100vh;
    text-align: center;

    background: linear-gradient(124deg, red, #ff2400, #e81d1d, #e8b71d, #e3e81d, seagreen, #1ddde8, #dd00f3, purple, purple);
    background-size: 1800% 1800%;
    
    -webkit-animation: rainbow 50s ease infinite;
    -z-animation: rainbow 50s ease infinite;
    -o-animation: rainbow 50s ease infinite;
      animation: rainbow 50s ease infinite;
    }
    
    @-webkit-keyframes rainbow {
        0% {
            background-position:0% 82%
        }
        50% {
            background-position:100% 19%
        }
        100% { 
            background-position:0% 82%
        }
    }
    @-moz-keyframes rainbow {
        0% {
            background-position:0% 82%
        }
        50% { 
            background-position:100% 19%
        }
        100% { 
            background-position:0% 82%
        }
    }
    @-o-keyframes rainbow {
        0% { 
            background-position:0% 82%
        }
        50% { 
            background-position:100% 19%
        }
        100% { 
            background-position:0% 82%
        }
    }
    @keyframes rainbow { 
        0% { 
            background-position:0% 82%
        }
        50% { 
            background-position:100% 19%
        }
        100% { 
            background-position:0% 82%
        }
    }
}