/* 
	All this stuff is edited from HTML 5 up --> free_to(use + change)
	it's for the cool glass-looking buttons, fade 
	in animation on page load and boxes.
*/

@-moz-keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}

	15% {
		opacity: 1;
		z-index: 100000;
	}

	99% {
		opacity: 0;
		z-index: 100000;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}

@-webkit-keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}

	15% {
		opacity: 1;
		z-index: 100000;
	}

	99% {
		opacity: 0;
		z-index: 100000;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}

@-ms-keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}

	15% {
		opacity: 1;
		z-index: 100000;
	}

	99% {
		opacity: 0;
		z-index: 100000;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}

@keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}

	15% {
		opacity: 1;
		z-index: 100000;
	}

	99% {
		opacity: 0;
		z-index: 100000;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}

body {
	text-decoration: none;
}

body:after {
	-moz-animation: overlay-hide 1.5s ease-in forwards !important;
	-webkit-animation: overlay-hide 1.5s ease-in forwards !important;
	-ms-animation: overlay-hide 1.5s ease-in forwards !important;
	animation: overlay-hide 1.5s ease-in forwards !important;
	background: #ffffff;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

body.is-loading:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	opacity: 1;
	z-index: 100000;
}

@media (-webkit-min-device-pixel-ratio: 2) {

	body:before {
		line-height: 2.025em;
	}

}

/* --------------------------------------------------------------------------------- */

/* Boxes */

.box {
	background: #ffffff;
	color: #39454b;
	padding: 1em;
}

.box > :last-child {
	margin-bottom: 0;
}

.box.style2 {
	padding: 2.5em 1.5em 2.5em 1.5em;
}

@media screen and (max-width: 736px) {

	.box {
		padding: 1em;
	}

		.box.style2 {
			padding: 1.5em 1.25em 1.5em 1.25em;
			background-color: rgba(255, 255, 255, 0.9);
		}

}

/* For the cool buttons */

.button, button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	background-color: #98c593;
	border: 0;
	border-radius: 3.5em;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	height: 3.5em;
	line-height: 3.5em;
	outline: 0;
	padding: 0 2em 0 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.button.down, button.down {
	width: 5em;
	height: 5em;
	line-height: 4.5em;
	padding: 0;
	background-image: url("images/dark-arrow.svg");
	background-position: center center;
	background-repeat: no-repeat;
	text-indent: -10em;
	overflow: hidden;
}

.button.down.anchored, button.down.anchored {
	bottom: 0;
	border-bottom: 0;
	border-radius: 3em 3em 0 0;
	height: 4.5em;
	margin-left: -2.5em;
}

.button.anchored, button.anchored {
	position: absolute;
	left: 50%;
}

.button:hover, button:hover {
	background-color: #a8cea4;
}

.button:active, button:active {
	background-color: #88bc82;
}

.button.style2, button.style2 {
	background-color: transparent;
	border: solid 2px #e5e6e7;
	color: inherit;
}

.button.style2:hover, button.style2:hover {
	background-color: rgba(229, 230, 231, 0.25);
}

.button.style2:active,
button.style2:active {
	background-color: rgba(229, 230, 231, 0.375);
}

.button.style2.down,
button.style2.down {
	background-image: url("images/arrow.svg");
}