/* 
	For fade in + holo design button
*/

@-moz-keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}

	15% {
		opacity: 1;
		z-index: 100000;
	}

	99% {
		opacity: 0;
		z-index: 100000;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}

@-webkit-keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}

	15% {
		opacity: 1;
		z-index: 100000;
	}

	99% {
		opacity: 0;
		z-index: 100000;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}

@-ms-keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}

	15% {
		opacity: 1;
		z-index: 100000;
	}

	99% {
		opacity: 0;
		z-index: 100000;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}

@keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}

	15% {
		opacity: 1;
		z-index: 100000;
	}

	99% {
		opacity: 0;
		z-index: 100000;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}

body {
	text-decoration: none;
}

body:after {
	-moz-animation: overlay-hide 1.5s ease-in forwards !important;
	-webkit-animation: overlay-hide 1.5s ease-in forwards !important;
	-ms-animation: overlay-hide 1.5s ease-in forwards !important;
	animation: overlay-hide 1.5s ease-in forwards !important;
	background: #ffffff;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

body.is-loading:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	opacity: 1;
	z-index: 100000;
}

@media (-webkit-min-device-pixel-ratio: 2) {

	body:before {
		line-height: 2.025em;
	}

}

/* --------------------------------------------------------------------------------- */